.starry-background {
  position: relative;
  background-color: #000000;
  height: 100vh;
}

.starry-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpath fill='%23fff' d='M1433.3 794.2c60.7 0 109.7-49 109.7-109.7s-49-109.7-109.7-109.7c-60.7 0-109.7 49-109.7 109.7s49 109.7 109.7 109.7zM1253 378.2c-32.3 0-58.5 26.2-58.5 58.5s26.2 58.5 58.5 58.5c32.3 0 58.5-26.2 58.5-58.5s-26.2-58.5-58.5-58.5zM342.2 668.7c19.8 0 36-16.1 36-36s-16.1-36-36-36c-19.8 0-36 16.1-36 36s16.1 36 36 36zM1093.5 222.5c22.1 0 40-17.9 40-40s-17.9-40-40-40c-22.1 0-40 17.9-40 40s17.9 40 40 40zM1455.5 527.5c35.3 0 64-28.7 64-64s-28.7-64-64-64c-35.3 0-64 28.7-64 64s28.7 64 64 64zM1023.3 69.7c-48.1 0-87.2 39.1-87.2 87.2s39.1 87.2 87.2 87.2c48.1 0 87.2-39.1 87.2-87.2S1071.4 69.7 1023.3 69.7z'/%3E%3C/svg%3E");
  background-size: 2px 2px;
  animation: twinkling 10s linear infinite;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url('../public/stars.jpg');
  animation: twinkle 2s linear infinite;
}

@keyframes twinkle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 1000px;
  }
}
